.banner {
    &__wrapper {
        padding-top: 131px;
        margin-left: -8px;
        display: flex;
        justify-content: space-between;
        &--cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 90px;
            grid-column-gap: 16px;
            margin-left: -8px;
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                padding: 35px 19px 0 19px;
                grid-column-gap: 15px;
                grid-row-gap: 15px;
                margin-top: unset;
                margin-left: unset;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            padding: 60px 20px 0 28px;
            gap: 49px;
            justify-content: unset;
        }
    }
    &__content {
        width: 398px;
        &--header {
            color: white;
            font-size: 20px;
            font-family: Montserrat;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            margin-bottom: 2px;
            @media (max-width: 768px) {
                font-size: 16px;
                margin-bottom: unset;
            }
        }
        &--info {
            color: white;
            font-size: 20px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    &__delimiter {
        width: 100px;
        color: white;
        margin: unset;
        @media (max-width: 768px) {}
        &--wrapper {
            padding-top: 39px;
            padding-bottom: 42px;
            justify-content: flex-start;
            @media (max-width: 768px) {
                padding-top: 30px;
                padding-bottom: 29px;
            }
        }
    }
    &__heading {
        color: white;
        font-family: Montserrat;
        font-size: 54px;
        font-weight: 600;
        line-height: 66px;
        letter-spacing: 0em;
        text-align: left;
        &--wrapper {
            width: 491px;
            @media (max-width: 768px) {
                width: unset;
            }
        }
        &--name {
            font-size: 55px;
            font-weight: 800;
            margin-left: -3.5px;
            line-height: 65px;
            letter-spacing: 0em;
            background: linear-gradient(45deg, #8437CB 33%, #6081DC, #5C8BDF, #5797E2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #0B2349;
            display: table;
            @media (max-width: 768px) {
                font-family: unset;
                font-size: 41px;
                font-weight: 500;
                line-height: 48px;
                margin-left: unset;
            }
        }
        @media screen and (max-width: 768px) {
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 600;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}