@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300;400&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300;400;600&family=MuseoModerno&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300;400;600&family=MuseoModerno&family=Open+Sans:wght@600&family=Sulphur+Point&display=swap');
@mixin mobile {
    @media screen and (max-width: 768px) {
        width: 335px !important;
        margin: 0 auto !important;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
    background: url('./img/background.png');
    & .area {
        width: 1285px;
        margin: 0 auto;
        &__mobile {
            @media (max-width: 768px) {
                width: 335px !important;
                margin: 0 auto;
            }
        }
        @media screen and (max-width: 768px) {
            width: 100vw;
        }
    }
    &__colored {
        width: 100vw;
        background: url('./img/background.png');
    }
    &__white {
        background: white !important;
    }
    &__bordered {
        border-radius: 20px;
    }
    &__banner {
        width: 100vw;
        background: url('./img/main_bg.png');
        background-repeat: round;
        height: 720px;
        margin-top: -1px;
        @media screen and (max-width: 768px) {
            background: url('./img/main_mobile.png') !important;
            background-repeat: unset;
            height: 930px;
            margin-top: 9px;
        }
    }
    &__mobile {
        @include mobile;
    }
    &__services {
        @include mobile;
        &--padding {
            padding-top: 90px;
            @media (max-width: 768px) {
                padding-top: 342px;
            }
        }
    }
    &__taxes {
        &--table {
            width: 1286px;
            margin: 0 auto;
            @media (max-width: 768px) {
                width: unset;
                margin: unset;
                overflow-x: scroll;
            }
        }
    }
    &__reasons {
        width: 1301px !important;
        @media (max-width: 768px) {
            width: unset;
        }
    }
    &__request {
        background: url('./img/request_translate_desktop.png') no-repeat;
        width: 1302px !important;
        height: unset;
        border-radius: 10px;
        @media (max-width: 768px) {
            background: url('./img/request_translate.png');
            height: 1155px !important;
            width: 100% !important;
            margin-top: -40px !important;
        }
    }
    &__about {
        height: 827px;
        @media (max-width: 768px) {
            height: 1312px;
        }
    }
    &__additionalservice {
        &--wrapper {
            padding-bottom: 110px;
            @media (max-width: 768px) {
                margin-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}