.taxes {
    &__wrapper {}
    &__table {
        &--button {
            width: 100%;
            background: #582D7F;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 48px;
            @media (max-width: 768px) {
                margin-top: 28px;
                width: 335px;
                margin: 28px auto 0 auto;
            }
        }
        &--mark {
            position: relative;
            left: 14px;
            top: -15px;
            @media (max-width: 768px) {
                top: -12px;
                left: 2px;
            }
        }
        &--category {
            font-family: Montserrat;
            font-size: 20px !important;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: -7px;
            @media (max-width: 768px) {
                margin-left: unset;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                padding-left: 7px;
                letter-spacing: -1.5px;
            }
        }
        &--title {}
        &--language {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 300;
            line-height: 35px;
            letter-spacing: 0em;
            padding-left: 30px;
            height: 68px;
            padding-top: 0px;
            @media (max-width: 768px) {
                @media (max-width: 768px) {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 35px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding-left: 24px;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 35px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        &--price {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #093B54;
            @media (max-width: 768px) {
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        &--wrapper {
            border-collapse: collapse;
            border-radius: 10px;
            width: inherit;
            margin-top: 7px;
            &>tr td:nth-child(n+2) {
                width: 332.8px !important;
                @media (max-width: 767px) {
                    width: unset !important;
                }
            }
            &>tr:nth-child(1) {
                height: 80px;
                text-align: center !important;
                width: 338px;
                @media (max-width: 768px) {
                    padding-left: 26px;
                    width: unset !important;
                }
                & td:nth-child(n+3) .taxes__table--category {
                    margin-left: 4px !important;
                    @media (max-width: 768px) {
                        margin-left: unset;
                    }
                }
                & td:nth-child(n+2) .taxes__table--mark {
                    left: 7px;
                    top: -14px;
                    @media (max-width: 768px) {
                        top: -13px;
                        left: 2px;
                    }
                }
                & td:nth-child(n+3) .taxes__table--mark {
                    left: 6px;
                    top: -14px;
                    @media (max-width: 768px) {
                        top: unset;
                        left: unset;
                    }
                }
                &>td {
                    @media (max-width: 768px) {
                        padding-left: 28px;
                        padding-top: 3px;
                    }
                }
            }
            &>:nth-child(n+2) {
                height: 70px;
            }
            &>tr:nth-child(1)>td {
                height: 68px;
                @media (max-width: 768px) {
                    width: 134px !important;
                }
            }
            &>tr:nth-child(n+2)>td:nth-child(n+2) {
                padding-left: 127px;
                padding-top: 2px;
                @media (max-width: 768px) {
                    padding-left: 61px;
                    padding-top: unset;
                }
            }
            &>tr:nth-child(n+2)>td:nth-child(n+4) {
                padding-left: 130px !important;
            }
            &>tr:nth-child(n+2)>td:nth-child(n+3) {
                padding-left: 129px !important;
            }
            &>tr:nth-child(n+3)>td {
                padding-left: 124px;
                &:nth-child(1) {
                    padding-left: 30px;
                    @media (max-width: 768px) {
                        padding-left: 24px !important;
                    }
                }
                @media (max-width: 768px) {
                    height: 67px;
                    text-align: left !important;
                    padding-left: 61px;
                }
            }
            &>tr:first-child>:first-child {
                border-top-left-radius: 10px;
                width: 261px !important;
                @media (max-width: 768px) {
                    width: unset;
                }
            }
            &>tr:first-child>:last-child {
                border-top-right-radius: 10px;
            }
            &>tr:last-child>:first-child {
                border-bottom-left-radius: 10px;
            }
            &>tr:last-child>:last-child {
                border-bottom-right-radius: 10px;
            }
            &>tr:first-child>:first-child,
            &>tr:first-child>:last-child {
                border: none;
            }
            &>tr:first-child {
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: #2D2D2D;
            }
            &>tr>td {
                /*    width: 338px; */
                border: 1px solid #E1E1E1;
                @media (max-width: 768px) {
                    height: 64px;
                    border: 1px solid #E1E1E1;
                    width: 112px;
                }
            }
            @media (max-width: 768px) {
                width: max-content;
                margin-left: 20px;
                margin-top: -5px;
            }
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        padding-top: 109px;
        @media (max-width: 768px) {
            padding-top: 133px;
            margin-bottom: 40px;
        }
        &--text {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 400;
            line-height: 59px;
            letter-spacing: 0em;
            text-align: left;
            @media (max-width: 768px) {
                font-size: 36px;
                line-height: 44px;
                letter-spacing: 0em;
                width: 145px;
            }
        }
        &--flags {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            @media (max-width: 768px) {
                height: 88px;
                width: 200px;
            }
        }
    }
}

#russia {
    grid-area: 1 / 1 / 3 / 2;
    margin-top: -24px;
    margin-left: 16px;
    &>img {
        width: 102px;
        @media (max-width: 768px) {
            width: unset;
        }
    }
    @media (max-width: 768px) {
        height: inherit;
        margin-left: 38px;
        margin-top: 22px;
    }
}

#connect_low {
    grid-area: 1 / 2 / 2 / 3;
    width: 89.59px;
    height: 70.61px;
    margin-top: -48px;
    margin-left: -6px;
    @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: -3px;
        height: 35.08px;
        width: 47.68px;
    }
}

#connect_high {
    grid-area: 2 / 2 / 3 / 3;
    width: 91.59px;
    height: 70.61px;
    margin-top: -23px;
    margin-left: -7px;
    @media (max-width: 768px) {
        margin-left: -3px;
        margin-top: -23px;
        height: 37.08px;
        width: 47.68px;
    }
}

#germany {
    grid-area: 1 / 3 / 2 / 4;
    &>img {
        width: 106.37px;
        height: 108px;
        margin-left: -41px;
        margin-top: -88px;
        @media (max-width: 768px) {
            width: unset;
            height: unset;
            margin-left: unset;
            margin-top: unset;
        }
    }
    @media (max-width: 768px) {
        margin-top: -12px;
        margin-left: -3px;
    }
}

#uk {
    grid-area: 2 / 3 / 3 / 4;
    &>img {
        width: 106.37px;
        height: 104px;
        margin-left: -41px;
        margin-top: -11px;
        @media (max-width: 768px) {
            width: unset;
            height: unset;
            margin-left: unset;
            margin-top: unset;
        }
    }
    @media (max-width: 768px) {
        margin-top: -17px;
        margin-left: -3px;
    }
}

#table {
    &__title {
        text-align: left;
        padding-left: 30px;
        letter-spacing: 1.5px;
        background: #B8DDDE;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 298px !important;
        word-spacing: -1px;
        @media (max-width: 768px) {
            padding-left: 25px !important;
            padding-top: 5px;
            width: 165px !important;
            height: 77px !important;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}